.menu {
    width: 19.9%;
    background-color: #25272a;
    opacity: 0.75;
    color: #b5b5b5;
    padding-left: 25px;
    padding-top: 35px;
    padding-bottom: 15px;
}

.menu-title {
        color: white;
        font-size: 20px;
        font-weight: 700;
        position: relative;
        margin-bottom: 30px;
        margin-right: 25px;
    }

.menu-settings-button,
.menu-dropdown-button {
    background-repeat: no-repeat;
    position: absolute;
}

.menu-settings-button {
    width: 16px;
    height: 15px;
    background-image: url('../../img/icons/menu-settings.svg');
    top: 6px;
    right: 0;

    &:hover,
    &:focus {
        background-image: url('../../img/icons/menu-settings-hover.svg');
    }

    &:active {
        background-image: url('../../img/icons/menu-settings-active.svg');
    }
}

.menu-dropdown-button {
    width: 11px;
    height: 6px;
    background-image: url('../../img/icons/menu-dropdown.svg');
    top: 11px;
    left: 115px;

    &:hover,
    &:focus {
        background-image: url('../../img/icons/menu-dropdown-hover.svg');
    }

    &:active {
        background-image: url('../../img/icons/menu-dropdown-active.svg');
    }
}

.menu-intro {
    font-size: 14px;
    padding-left: 29px;
    position: relative;
    margin-bottom: 32px;
    margin-right: 25px;

    &::before {
        width: 18px;
        height: 17px;
        background-image: url('../../img/icons/menu-thoughts.svg');
        position: absolute;
        top: 0;
        left: 0;
        content: '';
    }
}
