.menu {
    width: 279px;
    background-color: #25272a;
    opacity: 0.75;
    color: #b5b5b5;
    padding-left: 25px;
    padding-top: 35px;
    padding-bottom: 15px;

    &__title {
        color: white;
        font-size: 20px;
        font-weight: 700;
        position: relative;
        margin-bottom: 30px;
        margin-right: 25px;
    }

    &__settings-button,
    &__dropdown-button {
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        position: absolute;
        cursor: pointer;
    }

    &__settings-button {
        width: 16px;
        height: 15px;
        background-image: url('../../img/icons/menu-settings.svg');
        top: 6px;
        right: 0;

        &:hover,
        &:focus {
            background-image: url('../../img/icons/menu-settings-hover.svg');
        }

        &:active {
            background-image: url('../../img/icons/menu-settings-active.svg');
        }
    }

    &__dropdown-button {
        width: 11px;
        height: 6px;
        background-image: url('../../img/icons/menu-dropdown.svg');
        top: 11px;
        left: 115px;

        &:hover,
        &:focus {
            background-image: url('../../img/icons/menu-dropdown-hover.svg');
        }

        &:active {
            background-image: url('../../img/icons/menu-dropdown-active.svg');
        }
    }

    &__intro {
        font-size: 14px;
        padding-left: 29px;
        position: relative;
        margin-bottom: 32px;
        margin-right: 25px;

        &::before {
            width: 18px;
            height: 17px;
            background-image: url('../../img/icons/menu-thoughts.svg');
            position: absolute;
            top: 0;
            left: 0;
            content: '';
        }
    }
}
