.profile {
    width: 14.4%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;

    &--empty {
        justify-content: center;
        align-items: center;
    }
}

.profile-avatar {
    width: 228px;
    height: 228px;
}

.profile-info {
    background-color: #cfd3d7;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-top: 15px;
}

.profile-name {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 3px;

    &--online {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            background-color: #70cc16;
            border-radius: 50%;
            top: 8px;
            right: -12px;
        }
    }
}

.profile-job {
    color: #5f6164;
    font-size: 12px;
    margin-bottom: 20px;
}

.profile-social-links {
    margin-bottom: 19px;
}

.profile-social-link {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    background-color: #e8e8eb;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;

    &:not(:last-child) {
        margin-right: 8px;
    }

    &--fb {
        background-image: url('../../img/icons/profile-fb.svg');
    }

    &--tw {
        background-image: url('../../img/icons/profile-tw.svg');
    }

    &--inst {
        background-image: url('../../img/icons/profile-inst.svg');
    }

    &--lkdn {
        background-image: url('../../img/icons/profile-lkdn.svg');
    }
}

.profile-buttons {
    margin-bottom: 14px;
}

.profile-btn {
    background-color: #3577ef;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: blue;
    }

    &:active {
        opacity: 0.5;
    }

    &--message {
        color: white;
        font-size: 13px;
        font-weight: 700;
        margin-right: 4px;
        padding: 4px 40px;
    }
    
    &--options {
        width: 23px;
        height: 23px;
        padding: 0;
        background-image: url('../../img/icons/profile-options.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}
