.textarea {
    flex-grow: 1;
    resize: none;
    min-height: 50px;
    padding: 15px;
    padding-bottom: 0;
    font: inherit;
    color: #8d8d8d;
    font-size: 14px;

    &:hover,
    &:focus {
        border: 1px solid black;
    }

    &:active {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &--light {
        background-color: black;
        color: white;
        border: 1px solid white;

        &:hover,
        &:focus {
            border: 1px solid rgba(255, 255, 255, 0.5);
        }

        &:active {
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
}

.textarea-btn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-image: url('../../img/icons/chat-send.svg');

    &:hover,
    &:focus {
        background-image: url('../../img/icons/chat-send-hover.svg');
    }

    &:active {
        opacity: 0.2;
    }

    &--light {
        background-image: url('../../img/icons/chat-send-light.svg');

        &:hover,
        &:focus {
            background-image: url('../../img/icons/chat-send-light.svg');
            opacity: 0.7;
        }

        &:active {
            background-image: url('../../img/icons/chat-send-light.svg');
            opacity: 0.5;
        }
    }
}

@media (max-width: 768px) {
    .textarea-btn {
        margin-left: 16px;
    }
}
