.message-list {
    height: calc(100vh - 198px);
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
    margin-right: 7px;
    position: relative;
    
    &--uploaded {
        height: calc(100vh - 316px);
    }
}

.message-break {
    position: relative;
    color: #8d8d8d;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &::before,
    &::after {
        height: 1px;
        background-color: #c2c2c2;
        content: '';
        top: 10px;
        flex-grow: 1;
    }

    &::before {
        left: 25px;
        margin-right: 20px;
    }

    &::after {
        right: 25px;
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .message-list {
        border-top: none;
        height: calc(100vh -198px);
    }
}
