@keyframes spinnerContent {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.spinner {
    width: 250px;
    height: 250px;
    display: block;
    overflow: hidden;
    background: transparent;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.spinner div {
    left: 107px;
    top: 8px;
    position: absolute;
    animation: spinnerContent linear 1s infinite;
    background: grey;
    width: 28px;
    height: 68px;
    border-radius: 17px / 34px;
    transform-origin: 17px 117px;
    box-sizing: content-box;

    &:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.916s;
    }

    &:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -0.833s;
    }

    &:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.75s;
    }

    &:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.666s;
    }

    &:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.583s;
    }

    &:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.5s;
    }

    &:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.416s;
    }

    &:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.333s;
    }

    &:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.25s;
    }

    &:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.166s;
    }

    &:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.083s;
    }

    &:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }
}

.spinner--middle {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & div {
        left: 71px;
        top: 6px;
        width: 17px;
        height: 43px;
        transform-origin: 10px 80px;
    }
}
