.login-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    padding-top: 120px;
    flex-grow: 1;
    align-content: flex-start;
    position: relative;
}

.login-message {
    color: red;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    position: absolute;
    top: 30px;
}

.form-btn {
    background-color: #3577ef;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 4px 40px;

    &--login:disabled {
        background-color: grey;
    }

    &--signup {
        cursor: pointer;
    }

    &:hover:not(:disabled),
    &:focus {
        background-color: blue;
    }

    &:active {
        opacity: 0.5;
    }
}

@media (max-width: 767px) {
    .login-form {
        width: 280px;
    }
}
