.form-error-message {
    color: red;
    text-align: center;
    width: 45%;
    font-size: 18px;
    margin-bottom: 15px;
    position: absolute;

    &--login {
        width: 100%;
    }

    &--firstname,
    &--email {
        top: 30px;
    }

    &--surname,
    &--password {
        top: 70px;
    }

    &--username,
    &--skype {
        top: 110px;
    }

    &--firstname,
    &--username,
    &--password {
        left: 0;
    }

    &--surname,
    &--email,
    &--skype {
        right: 0;
    }

    &--my-profile {
        bottom: 4px;
        right: 0;
        font-size: 13px;
        width: 100%;
        font-weight: 700;
        text-align: right;
        margin-bottom: 0;
    }

    &--tablet {
        display: none;
    }
}

@media (max-width: 768px) {
    .form-error-message {
        &--signup {
            display: none;
        }

        &--tablet {
            bottom: -23px;
            right: 0;
            font-size: 13px;
            width: 100%;
            font-weight: 700;
            text-align: right;
            margin-bottom: 0;
            display: block;
        }
    }
}
