.channels {
    margin-bottom: 10px;
    position: relative;
    min-height: calc((100vh - 112px) / 2);
}

.channels-list {
    height: calc((100vh - 222px) / 2);
    overflow-y: auto;
    margin-right: 5px;
}

.channels-input {
    background-color: #25272a;
    border: 1px solid #919191;
    margin-bottom: 10px;
    color:#919191;
    padding: 2px 20px;
    margin-right: 20px;
    width: 90%;
    border-radius: 2px;
    outline: none;

    &:hover,
    &:focus {
        border: 1px solid white;
    }
    
    &--add {
        position: absolute;
        left: 0;
        top: 25px;
    }
}

.channels-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 2px;
        background-color: rgba(255, 255, 255, 0.6);
        height: 14px;
        top: 2px;
    }

    &:hover,
    &:focus {
        &::before,
        &::after {
            background-color: white;
        }
    }

    &:active {
        &::before,
        &::after {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    &--new {
        right: 50px;

        &::after {
            transform: rotate(-90deg);
        }
    }

    &--add {
        right: 70px;

        &::before {
            left: 4px;
            transform: rotate(-25deg);
        }

        &::after {
            left: 9px;
            transform: rotate(25deg);
        }
    }

    &--opened {
        &::before {
            display: none;
        }
    }
}

.channels-error {
    color: red;
    position: absolute;
    font-size: 13px;
    font-weight: 700;
    top: -23px;
    left: 0px;
}
