.channels {
    margin-bottom: 10px;
    position: relative;
    min-height: calc((100vh - 112px) / 2);
}

.channels-list {
    height: calc((100vh - 222px) / 2);
    overflow-y: auto;
    margin-right: 5px;
}

.channels-input {
    background-color: #25272a;
    border: 1px solid #919191;
    margin-bottom: 10px;
    color:#919191;
    padding: 2px 20px;
    margin-right: 20px;
    width: 90%;
    border-radius: 2px;
    outline: none;

    &:hover,
    &:focus {
        border: 1px solid white;
    }
    
    &--add {
        position: absolute;
        left: 0;
        top: 25px;
        width: 93%;
    }
}

.channels-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;

    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 2px;
        background-color: rgba(255, 255, 255, 0.6);
        height: 14px;
        top: 2px;
    }

    &:hover,
    &:focus {
        &::before,
        &::after {
            background-color: white;
        }
    }

    &:active {
        &::before,
        &::after {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    &--new {
        right: 50px;

        &::after {
            transform: rotate(-90deg);
        }
    }

    &--add {
        right: 22px;
        top: 27px;
        z-index: 1;

        &::before {
            left: 4px;
            transform: rotate(-25deg);
        }

        &::after {
            left: 9px;
            transform: rotate(25deg);
        }
    }

    &--opened {
        &::before {
            display: none;
        }
    }

    &--favourite {
        background-image: url('../../img/icons/menu-favourite.svg');
        right: 100px;
        top: 1px;

        &::before,
        &::after {
            display: none;
        }

        &:hover,
        &:focus {
            background-image: url('../../img/icons/menu-favourite-hover.svg');
        }

        &:active {
            opacity: 0.3;
        }

        &.channels-btn--current {
            background-image: url('../../img/icons/menu-favourite-current.svg');

            &:hover,
            &:focus {
                background-image: url('../../img/icons/menu-favourite-current-hover.svg');
            }

            &:active {
                opacity: 0.3;
            } 
        }
    }

    &--ordinary {
        background-image: url('../../img/icons/menu-ordinary.svg');
        right: 75px;
        
        &::before,
        &::after {
            display: none;
        }

        &:hover,
        &:focus {
            background-image: url('../../img/icons/menu-ordinary-hover.svg');
        }

        &:active {
            opacity: 0.3;
        }

        &.channels-btn--current {
            background-image: url('../../img/icons/menu-ordinary-current.svg');

            &:hover,
            &:focus {
                background-image: url('../../img/icons/menu-ordinary-current-hover.svg');
            }

            &:active {
                opacity: 0.3;
            }
        }
    }
}

.channels-error {
    color: red;
    position: absolute;
    font-size: 13px;
    font-weight: 700;
    top: -23px;
    left: 0px;
}
