.chat-header {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-top: 32px;
    padding-right: 25px;
    padding-bottom: 16px;
}

.chat-title {
    font-size: 20px;
    font-weight: 700;
    margin-right: 6px;
    position: relative;
}

.chat-participants {
    color: #a4a4a4;
    font-size: 14px;
    position: relative;
    margin-right: 25px;

    &::before {
        position: absolute;
        content: '';
        width: 11px;
        height: 14px;
        background-image: url('../../img/icons/chat-people.svg');
        left: -17px;
        top: 0;
    }

    &--light {
        color: white;

        &::before {
            background-image: url('../../img/icons/chat-people-light.svg');
        }
    }
}

.chat-header-wrapper {
    position: relative;
    margin-left: auto;

    &::before {
        position: absolute;
        content: '';
        width: 16px;
        height: 14px;
        top: 12px;
        right: 10px;
        z-index: 1;
        background-image: url('../../img/icons/chat-search.svg');
    }

    &--light {
        &::before {
            background-image: url('../../img/icons/chat-search-light.svg');
        }
    }
}

.chat-header-btn {
    right: -25px;
    top: 4px;
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url('../../img/icons/chat-ordinary.svg');

    &:hover,
    &:focus {
        background-image: url('../../img/icons/chat-favourite.svg');
    }

    &:active {
        opacity: 0.3;
    }

    &--in-list {
        background-image: url('../../img/icons/chat-favourite.svg');

        &:hover,
        &:focus {
            background-image: url('../../img/icons/chat-ordinary.svg');
        }

        &:active {
            opacity: 0.5;
        }

        &.chat-header-btn--light {
            background-image: url('../../img/icons/chat-favourite.svg');

            &:hover,
            &:focus {
                background-image: url('../../img/icons/chat-ordinary-light.svg');
            }

            &:active {
                opacity: 0.5;
            }
        }
    }

    &--light {
        background-image: url('../../img/icons/chat-ordinary-light.svg');
    }
}

@media (max-width: 768px) {
    .chat-header {
        flex-direction: column;
        padding: 16px;
        padding-left: 0;
        padding-right: 0;
    }

    .chat-title {
        margin-bottom: 20px;
    }

    .chat-header-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .chat-participants {
        margin-left: 17px;
        margin-right: 15px;

        &::before {
            top: 2px;
        }
    }
}
