.channels-item {
    margin-right: 5px;
    position: relative;
}

.channels-link {
    font-size: 14px;
    padding-left: 13px;
    padding-top: 2px;
    padding-bottom: 6px;
    cursor: pointer;
    color: #b5b5b5;
    display: inline-block;
    width: 100%;
    word-break: break-all;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: white;
        border-radius: 5px;
    }

    &--active {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        border-radius: 5px;
    }
}

.channels-item-btn {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;

    &--remove {
        right: 5px;
        top: 6px;
        background-image: url('../../img/icons/menu-remove.svg');

        &:hover,
        &:focus {
            background-image: url('../../img/icons/menu-remove-hover.svg');
        }

        &:active {
            background-image: url('../../img/icons/menu-remove-active.svg');
        }
    }

    &--rename {
        right: 40px;
        background-image: url('../../img/icons/menu-rename.svg');
    }
}
