.signup-form {
    display: flex;
    flex-wrap: wrap;
    width: 712px;
    padding-top: 160px;
    flex-grow: 1;
    position: relative;
    justify-content: space-between;
    align-content: flex-start;
}

.signup-btn {
    width: 30%;
    margin: 0 auto;

    background-color: #3577ef;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 40px;
    cursor: pointer;

    &:disabled {
        background-color: grey;
    }

    &:hover:not(:disabled),
    &:focus {
        background-color: blue;
    }

    &:active {
        opacity: 0.5;
    }
}

.signup-message {
    color: red;
    text-align: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
    position: absolute;
    top: 30px;
}

@media (max-width: 768px) {
    .signup-form {
        width: 280px;
        padding-top: 20px;
    }

    .signup-btn {
        width: 70%;
    }

    .signup-message {
        top: 0;
        font-size: 13px;
        font-weight: 700;
    }
}
