.info-item {
    margin-bottom: 5px;
}

.info-item-title {
    width: 100%;
    color: #5f6164;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;

    &--light {
        color: #b5b5b5;
    }
}

.info-item-content {
    width: 100%;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;

    &--light {
        color: white;
    }
}
