.chat-footer {
    display: flex;
    padding: 25px;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.chat-voice-btn {
    width: 15px;
    height: 20px;
    margin-right: 20px;
    background-image: url('../../img/icons/chat-voice.svg');

    &:hover,
    &:focus {
        background-image: url('../../img/icons/chat-voice-hover.svg');
    }

    &:active {
        background-image: url('../../img/icons/chat-voice-active.svg');
    }
}

.chat-smiles-btn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-image: url('../../img/icons/chat-smiles.svg');

    &:hover,
    &:focus {
        background-image: url('../../img/icons/chat-smiles-hover.svg');
    }

    &:active {
        background-image: url('../../img/icons/chat-smiles-active.svg');
    }
}

.chat-footer-upload {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 14px;
    height: 20px;
    background-image: url('../../img/icons/chat-upload.svg');
    margin-right: 20px;

    &:hover,
    &:focus {
        background-image: url('../../img/icons/chat-upload-hover.svg');
    }

    &:active {
        background-image: url('../../img/icons/chat-upload-active.svg');
    }
}

.chat-footer-fileinput {
    position: absolute;
	top: 0;
    left: 0;
	z-index: 2;
	opacity: 0;
	width: 100%;
    height: 100%;
    cursor: pointer;
}

.chat-footer-files {
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
    overflow-x: auto;
}

.chat-footer-pic {
    height: 100px;
    flex-shrink: 0;

    &:not(:last-child) {
        margin-right: 10px;
    }
}
