.message {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    padding-top: 9px;
    display: flex;
}

.message-link {
    color: black;
    font-size: 12px;
    font-weight: 700;
    margin-right: 7px;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:active {
        opacity: 0.5;
    }

    &--light {
        color: white;
    }
}

.message-avatar {
    width: 35px;
    height: 32px;
    margin-right: 12px;
}

.message-date {
    color: #8d8d8d;
    font-size: 12px;
}

.message-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.message-text {
    width: 100%;
}

.message-avatar-link {
    cursor: pointer;
    flex-shrink: 0;
    
    &:hover,
    &:focus {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.5;
    }
}

.message-images {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.message-image {
    height: 100px;
    margin: 10px;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .message {
        padding-left: 0;
        padding-right: 0;
        display: block;
    }

    .message-wrapper {
        display: inline;
    }

    .message-avatar {
        vertical-align: middle;
    }

    .message-images {
        width: 100%;
    }

    .message-text {
        margin-top: 5px;
    }
}
